#container>div:nth-child(1){
    display: flex;
    justify-content: end;
    width: 1570px;
    margin: 50px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    margin-bottom: 0px;
    margin-top: 0px;   
}
#container>div:nth-child(1)>div:nth-child(3)>h3{
    background-color: black;
    color: white;
    width: 150px;
    text-align: center;
}
#container>div:nth-child(1)>div{
    margin-left:40px ;
}

#container>div:nth-child(2){
display: flex;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
#container>div:nth-child(2)>div{
    margin-left: 40px;
}
input{
    height: 50px;
    width: 1250px;
    border: solid 1px black;
}

#container>div:nth-child(3){
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 10px;
    height: 100px;
    background-color: rgb(237, 240, 242);
    padding-left: 140px;
    padding-top: 30px;
}
#All_men>div:nth-child(1){
    width: 200px;
    border-right: 1px solid black;
    margin-left: 140px;
    padding-right: 10px;
}
#All_men>div>div:nth-child(1){
    display: flex;
    justify-content: space-between;
}